.navbar {
  margin: 2rem auto;
  max-width: 1100px; // flexible width container
  width: 90%;
  background: $white-color;
  border-radius: 1rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-family;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;

  .navbar-logo {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    font-size: $mid-font-size;
    font-weight: 700;
    color: $dark-blue-text;

    img {
      height: 48px;
      width: 48px;
    }
  }

  .navbar-links {
    list-style: none;
    display: flex;
    gap: 2rem;

    li a {
      text-decoration: none;
      color: $dark-blue-text;
      font-size: $default-font-size;
      font-weight: 500;
      transition: color 0.3s ease;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}
